- @misc_js << "jq('input#name')[0].focus();"
- content_for :sort_menu do  
  .sort
    - [["Newest", "new"], ["Most liked", "likes"], ["Alphabetical", "alpha"]].each do |s|
      = link_to(s[0], list_names_url(:active_sort=>s[1]), :class=>("active" if s[1]==@active_sort))
%ul#suggestions
  - @names.each do |name|
    = render(:partial=>'names/show', :locals=>{:name=>name})
