- @misc_js << "jq('input#name')[0].focus();"
.sort
  - [["Newest", "new"], ["Most liked", "likes"], ["Alphabetical", "alpha"]].each do |s|
    = link_to(s[0], list_names_url(:active_sort=>s[1]), :class=>("active" if s[1]==@active_sort))
#suggestion_box
  - form_tag("/names/create", :method=>"post") do 
    Suggest a name:&nbsp;
    = text_field_tag("name")
    = submit_tag("Submit", :class=>"name_submit")
%ul#suggestions
  - @names.each do |name|
    = render(:partial=>'names/show', :locals=>{:name=>name})
