/* line 7, sass/main.scss */
body {
  color: #333333;
  font-family: helvetica nueu, helvetica, arial, sans-serif;
  padding: 10px 20px;
}

/* line 12, sass/main.scss */
.clear {
  clear: both;
}

/* line 13, sass/main.scss */
.clearright {
  clear: right;
}

/* line 14, sass/main.scss */
.clearleft {
  clear: left;
}

/* line 16, sass/main.scss */
.notice {
  color: red;
  font-weight: bold;
  font-size: 22px;
  margin: 10px 0;
}

/* line 22, sass/main.scss */
a, a:visited {
  color: blue;
  padding: 2px 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 30, sass/main.scss */
li.like a.like_link,
li.dislike a.dislike_link,
a.active,
a:hover {
  background: blue;
  color: white;
  text-decoration: none;
}

/* line 35, sass/main.scss */
a.like_link span {
  text-decoration: none;
}

/* line 38, sass/main.scss */
span.count {
  color: #999;
  font-size: 11px;
}

/* line 42, sass/main.scss */
h1#logo {
  border-bottom: 1px dashed #ededed;
  font-weight: bold;
  font-size: 30px;
}

/* line 47, sass/main.scss */
.login_links {
  float: right;
  margin-top: 10px;
}

/* line 51, sass/main.scss */
#suggestion_box {
  color: red;
  margin: 0px 0 30px;
}
/* line 54, sass/main.scss */
#suggestion_box input#name {
  width: 200px;
}
/* line 55, sass/main.scss */
#suggestion_box input.name_submit {
  width: 75px;
}

/* line 58, sass/main.scss */
.sort {
  font-size: 12px;
  float: right;
  margin-top: 5px;
}

/* line 64, sass/main.scss */
li.name {
  list-style-type: none;
  margin: 15px 0;
}
/* line 67, sass/main.scss */
li.name .name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 1px;
}
/* line 71, sass/main.scss */
li.name .name_info {
  color: #999999;
  font-size: 13px;
}

/* line 75, sass/main.scss */
.loginform {
  width: 250px;
}

/* line 78, sass/main.scss */
.signupform {
  width: 310px;
}

/* line 81, sass/main.scss */
.loginform, .signupform {
  float: right;
  margin: 30px 0px;
}
/* line 84, sass/main.scss */
.loginform h1, .signupform h1 {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}
/* line 88, sass/main.scss */
.loginform table, .signupform table {
  width: 100%;
}
/* line 90, sass/main.scss */
.loginform td.label, .signupform td.label {
  text-align: right;
}
/* line 92, sass/main.scss */
.loginform td, .signupform td {
  padding: 3px;
}
/* line 94, sass/main.scss */
.loginform p, .signupform p {
  text-align: right;
}
/* line 96, sass/main.scss */
.loginform .signuplink, .signupform .signuplink {
  font-size: 13px;
  margin-top: 10px;
}

/* line 100, sass/main.scss */
h1.page_title {
  color: red;
  font-size: 20px;
  margin: 20px 0;
}
/* line 104, sass/main.scss */
h1.page_title a {
  font-weight: bold;
}

/* line 107, sass/main.scss */
.main_container {
  width: 50%;
  margin: 0 auto;
}
/* line 110, sass/main.scss */
.main_container .meat {
  padding-top: 5px;
  padding-left: 5px;
}
