/* line 7, sass/main.scss */
body {
  color: #333333;
  font-family: helvetica nueu, helvetica, arial, sans-serif;
  padding: 0px 20px;
}

/* line 12, sass/main.scss */
.clear {
  clear: both;
}

/* line 13, sass/main.scss */
.clearright {
  clear: right;
}

/* line 14, sass/main.scss */
.clearleft {
  clear: left;
}

/* line 16, sass/main.scss */
.notice {
  color: red;
  font-weight: bold;
  font-size: 22px;
  margin: 10px 0;
}

/* line 22, sass/main.scss */
a, a:visited {
  color: blue;
  padding: 2px 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 30, sass/main.scss */
li.like a.like_link,
li.dislike a.dislike_link,
a.active,
a:hover {
  background: blue;
  color: white;
  text-decoration: none;
}

/* line 35, sass/main.scss */
a.like_link span {
  text-decoration: none;
}

/* line 38, sass/main.scss */
span.count {
  color: #999;
  font-size: 11px;
}

/* line 42, sass/main.scss */
h1#logo {
  font-weight: bold;
  font-size: 30px;
}
/* line 45, sass/main.scss */
h1#logo a {
  color: #333;
  text-decoration: none;
}
/* line 49, sass/main.scss */
h1#logo a:hover {
  background: #fff;
  text-decoration: underline;
}

/* line 55, sass/main.scss */
.login_links {
  float: right;
  margin-top: 10px;
}

/* line 59, sass/main.scss */
#suggestion_box {
  color: red;
}
/* line 61, sass/main.scss */
#suggestion_box input#name {
  width: 200px;
}
/* line 62, sass/main.scss */
#suggestion_box input.name_submit {
  width: 75px;
}

/* line 65, sass/main.scss */
.sort {
  font-size: 12px;
  float: right;
  margin-top: 5px;
}

/* line 71, sass/main.scss */
li.name {
  list-style-type: none;
  margin: 15px 0;
}

/* line 75, sass/main.scss */
.name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 1px;
}

/* line 79, sass/main.scss */
.name_info {
  color: #999999;
  font-size: 13px;
}
/* line 82, sass/main.scss */
.name_info span {
  color: red;
}

/* line 84, sass/main.scss */
.exists_form input, .exists_form button {
  font-size: 10px;
}

/* line 87, sass/main.scss */
.loginform {
  width: 250px;
}

/* line 90, sass/main.scss */
.signupform {
  width: 310px;
}

/* line 93, sass/main.scss */
.loginform, .signupform {
  float: right;
  margin: 30px 0px;
}
/* line 96, sass/main.scss */
.loginform h1, .signupform h1 {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}
/* line 100, sass/main.scss */
.loginform table, .signupform table {
  width: 100%;
}
/* line 102, sass/main.scss */
.loginform td.label, .signupform td.label {
  text-align: right;
}
/* line 104, sass/main.scss */
.loginform td, .signupform td {
  padding: 3px;
}
/* line 106, sass/main.scss */
.loginform p, .signupform p {
  text-align: right;
}
/* line 108, sass/main.scss */
.loginform .signuplink, .signupform .signuplink {
  font-size: 13px;
  margin-top: 10px;
}

/* line 112, sass/main.scss */
h1.page_title {
  color: red;
  font-size: 20px;
  margin: 20px 0;
}
/* line 116, sass/main.scss */
h1.page_title a {
  font-weight: bold;
}

/* line 119, sass/main.scss */
.main_container {
  width: 700px;
  margin: 0 auto;
}
/* line 122, sass/main.scss */
.main_container .header {
  -moz-box-shadow: #cccccc 1px 1px 5px;
  -webkit-box-shadow: #cccccc 1px 1px 5px;
  -o-box-shadow: #cccccc 1px 1px 5px;
  box-shadow: #cccccc 1px 1px 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: white;
  position: fixed;
  padding: 5px 20px 10px;
  margin-left: -20px;
  width: 700px;
}
/* line 130, sass/main.scss */
.main_container .header .subheader {
  margin: 5px;
}
/* line 132, sass/main.scss */
.main_container .header .subheader .fb_like_site {
  height: 1em;
  padding: 15px 0 5px;
}
/* line 135, sass/main.scss */
.main_container .meat {
  padding-top: 80px;
  padding-left: 5px;
}

/* line 140, sass/main.scss */
h1.the_name {
  font-size: 50px;
  font-weight: bold;
  margin: 80px auto 30px;
  text-align: center;
}

/* line 147, sass/main.scss */
.likelinks {
  color: #ccc;
  list-style-type: none;
  text-align: center;
  font-size: 16px;
}
/* line 152, sass/main.scss */
.likelinks a {
  font-size: 30px;
}

/* line 154, sass/main.scss */
.prev_name {
  margin: 30px auto;
}
