@import "compass/css3";
@import "compass/utilities";
$default-border-radius: 5px

body
  color: #333
  font-family: helvetica nueu, helvetica, arial, sans-serif
  padding: 10px 20px

a, a:visited
  color: blue
  padding: 2px 
  @include border-radius()

.notice
  color: red
  font-weight: bold
  font-size: 22px
  margin: 10px 0

li.like a.like_link,
li.dislike a.dislike_link,
a:hover
  background: blue
  color: white
  text-decoration: none

h1#logo
  border-bottom: 1px dashed #ededed
  font-weight: bold
  font-size: 30px

.login_links
  float: right
  margin-top: 10px

#suggestion_box
  margin: 20px 0

ul#suggestions
  li.name
    list-style-type: none
    margin: 10px 0
    .name
      font-size: 22px
      font-weight: bold
    .name_info
      color: #999
      font-size: 13px

.loginform
  width: 250px
.signupform
  width: 310px
.loginform, .signupform
  h1
    text-align: right
    font-size: 20px
    font-weight: bold
  margin: 30px 0px
  table
    width: 100%
  td.label
    text-align: right
  td
    padding: 3px
  p
    text-align: right
  .signuplink
    font-size: 13px
    margin-top: 10px


h1.page_header
  font-size: 26px
  margin: 30px 0
  a
    font-weight: bold

.main_container
  width: 50%
  margin: 0 auto
